.catalog {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    // margin-bottom: 100px;
    @media (max-width: 1919px) {
        gap: 28px;
        grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 1023px) {
        flex-direction: column;
        gap: 30px;
        grid-template-columns: 1fr;
        margin-bottom: 40px;
    }
}

.appl {
    cursor: pointer;
}