// Mobile first
$mediaWidthMobile: 767px;
$mediaWidthTablet: 1023px;
$mediaWidthTabletHorizontal: 1365px;
$mediaWidthLaptop: 1919px;
// $mediaDesctop: 1919px;

$fontBase: "Nunito Sans",
"sans-serif";
$color-black: #0f0f0f;