header.header 
    .header__wrapper._container 
        a.header__logo(href="index.html")
            img(src="img/svg/logo.svg" alt="Логотип") 
        nav.header__nav.header-nav
            ul.header-nav__list 
                li.header-nav__item
                    a.header-nav__link(href="index.html") главная
                li.header-nav__item
                    a.header-nav__link(href="about.html") о нас
                li.header-nav__item
                    a.header-nav__link(href="contacts.html") контакты
                li.header-nav__item
                    a.header-nav__link(href="bar-kursk.html") Donut brew roasters
        .header__contacts.header-contacts 
            a.header-contacts__link(href="") 
                img(src="img/svg/tabler_mail.svg" alt="")
                span mail@donutbrew.ru
            a.header-contacts__link(href="tel:+79207177808") 
                img(src="img/svg/ph_phone.svg" alt="")
                span +7 (920) 717 78 08
            button.header__burger#burger
