doctype html
html(lang="ru")
    include modules/head
    body
        .wrapper
            include modules/header
            .page._container.about 
                .content 
                    .content__header
                        h2.content__title О нас
                .about__wrapper 
                    .about__row 
                        img.about__pic(src="img/about-pic1.jpg" alt="")
                        .about__content 
                            span контролируем процесс
                            p В нашей кофейне мы полностью контролируем процесс производства, на котором ежедневно профессиональные кондитеры готовят десерты и заготовки для авторских напитков. Да, мы стремимся к использованию только натуральных соусов для наших напитков. Фирменные донаты выпекают дважды в день и доставляют в кофейню сразу же после приготовления – так мы сохраняем свежесть продукта для гостей
                    .about__row 
                        .about__content 
                            span проверено временем
                            p Профессиональные кондитеры, проверенная рецептура и технологии, которые прошли проверку временем – это наш выбор. Каждый сезон мы «играем» со вкусами и предлагаем гостям новые сочетания. Таким образом донат сохраняет аппетитный внешний вид и неповторимый вкус. Также серьезное внимание мы уделяем обжарке зерна, которой занимаемся сами. Почему мы решили жарить зерно сами?
                        img.about__pic(src="img/about-pic2.jpg" alt="")
                    .about__advanatages.about-advantages
                        .about-advantages__item
                            span МЫ
                            p помогаем с открытием кофеен
                        .about-advantages__item
                            span 12
                            p кофеен по всей россии
                        .about-advantages__item
                            span >10
                            p Лет успешной работы 
                        .about-advantages__item
                            span 98
                            p кофеен по всей россии









    include modules/footer
    include modules/script