doctype html
html(lang="ru")
    include modules/head
    body
        .wrapper
            include modules/header
            .page._container
                .content 
                    .content__header 
                        h2.content__title УЛ. ЛЕНИНА 20
                        a(href="") 
                            span Все кофейни
                            img(src="img/svg/arrow-next.svg" alt="")
                    .content__tabs.tabs
                        a.tabs__item.active(href="/") НАпитки
                        a.tabs__item(href="catalog2.html") Десерты
                        a.tabs__item(href="catalog3.html") Комбо
                        a.tabs__item(href="catalog4.html") Бранч
                        a.tabs__item(href="catalog5.html") кофешоп
                    .content__wrapper.catalog
                        .catalog__item.item-product
                            figure
                                img(src="img/products/1.jpg" alt="")
                                a.item-product__inf
                                    img(src="img/svg/inform.svg" alt="")
                                .int__overlay
                                    P В нашей кофейне мы полностью контролируем процесс производства, на котором ежедневно профессиональные кондитеры готовят десерты и заготовки для авторских напитков.
                                    a.appl  ОСТАВИТЬ ЗАЯВКУ
                            .item-product__footer
                                span.item-product__name Латте
                                .item-product__price.price-product
                                    .price-product__item
                                        button 140<span>₽<span>
                                        span малый
                                    .price-product__item
                                        button 170<span>₽<span>
                                        span стандарт
                                    .price-product__item
                                        button 210<span>₽<span>
                                        span большой
                                .item-product__size 
                        .catalog__item.item-product
                            figure
                                img(src="img/products/2.jpg" alt="")
                                a.item-product__inf
                                    img(src="img/svg/inform.svg" alt="")
                                .int__overlay
                                    P В нашей кофейне мы полностью контролируем процесс производства, на котором ежедневно профессиональные кондитеры готовят десерты и заготовки для авторских напитков.
                                    a.appl  ОСТАВИТЬ ЗАЯВКУ
                            .item-product__footer
                                span.item-product__name Капучино
                                .item-product__price.price-product
                                    .price-product__item
                                        button 140<span>₽<span>
                                        span малый
                                    .price-product__item
                                        button 170<span>₽<span>
                                        span стандарт
                                    .price-product__item
                                        button 210<span>₽<span>
                                        span большой
                        .catalog__item.item-product
                            figure
                                img(src="img/products/3.jpg" alt="")
                                a.item-product__inf
                                    img(src="img/svg/inform.svg" alt="")
                                .int__overlay
                                    P В нашей кофейне мы полностью контролируем процесс производства, на котором ежедневно профессиональные кондитеры готовят десерты и заготовки для авторских напитков.
                                    a.appl  ОСТАВИТЬ ЗАЯВКУ
                            .item-product__footer
                                span.item-product__name Фрапучино
                                .item-product__price.price-product
                                    .price-product__item
                                        button 140<span>₽<span>
                                        span малый
                                    .price-product__item
                                        button 170<span>₽<span>
                                        span стандарт
                                    .price-product__item
                                        button 210<span>₽<span>
                                        span большой
                        .catalog__item.item-product
                            figure
                                img(src="img/products/4.jpg" alt="")
                                a.item-product__inf
                                    img(src="img/svg/inform.svg" alt="")
                                .int__overlay
                                    P В нашей кофейне мы полностью контролируем процесс производства, на котором ежедневно профессиональные кондитеры готовят десерты и заготовки для авторских напитков.
                                    a.appl  ОСТАВИТЬ ЗАЯВКУ
                            .item-product__footer
                                span.item-product__name Матча
                                .item-product__price.price-product
                                    .price-product__item
                                        button 140<span>₽<span>
                                        span малый
                                    .price-product__item
                                        button 170<span>₽<span>
                                        span стандарт
                                    .price-product__item
                                        button 210<span>₽<span>
                                        span большой




    include modules/footer
    include modules/modal
    include modules/script